<p><%= @appointment.appointment_datetime.strftime("%B %-d, %Y %H:%M") %></p>
<<<<<<< HEAD
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p><%= link_to @appointment.patient.name, @appointment.patient %></p>
=======
<p><%= @appointment.doctor.name %></p>
<p><%= @appointment.patient.name %></p>
>>>>>>> 9e7cf68c9acc5a4ecbf82f805c2e7c2949c4d792
